body{
    background-color: #4165BA;
    color: #fff;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #10305d;
    display: flex;
    justify-content: center;
}

.head1{
    background-color: #4165BA;
    padding-bottom: 540px;
}

.acc{
    background-color: #10305d;
}

main{
    background-color: #4165BA;
    /*padding: 30px;*/
}

.TitreAcc{
    margin:-20px 0px 0px -10px;
    background-color: #4165BA;
}

p{
    width: 40%;
    font-size: 20px;
    margin-left: auto;
}

.variante{
    color: #aeb3e2;
    margin-left:40px;
}

h1{
    color: #aeb3e2;
    font-size: 200px;
    text-align: center;
    margin: 50px;
    margin-bottom: -60px;
    z-index: 2;
}



h2{
    background-color: #4165BA;
    padding: 24px;
    margin: 12px 50px 12px 50px;
    border-radius: 10vh;
    font-size: 70px;
}

a{
    color:#fff;
    position:relative;
    text-decoration: none;
    display: flex;
}

div{
    position:relative;
    text-decoration: none;
    display: flex;
}

h3{
    text-align: center;
    margin:10px;
    font-size: 38px;
}

.text{
    font-size: 20px;
}

.TPage{
    display: flex;
}

.textFonc{
    color:#aeb3e2;
}


.hau{
    margin-left: 0px; 
    margin-bottom: -20px;
}

.her{
    margin-left: 60px;
}






.sectionGauche{
    margin-left:-140px;
}

.sectionGauche2{
    padding-left:200px;
}

.sectionDroite{
    margin-right:0px;
    justify-content: right;
}

.sectionDroite2{
    padding-right:200px;
    margin-right:0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    
}


.mont{
    position: absolute;
    z-index: 2;
    translate: 0px ;
    transform: translateY(-590px) ;
    
}

section{
    background-color: #4165BA;
    z-index: 1;
}


.Moncv{
    color:#fff;
    font-size: 30px;
    z-index: 3;
    padding:5px;
    margin:16px 10px 200px 10px;
    border-radius:10px;
    border: solid #fff 4px;
}

.principal{
    color: #fff;
    z-index: 3;
    transform: translateY(-440px) ;
}





.foncé{
    background-color: #10305d;
}

.claire{
    background-color: #4165BA;
}