body{
    background-color: #4165BA;
    color: #fff;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #4165BA;
    display: flex;
    justify-content: center;
}

.acc{
    background-color: #10305d;
}

main{
    background-color: #4165BA;
    padding: 30px;
}

.TitreAcc{
    margin:-20px 0px 0px -10px;
    background-color: #4165BA;
}

p{
    width: 40%;
    font-size: 20px;
    margin-left: auto;
}

.variante{
    color: #aeb3e2;
    margin-left:40px;
}

h1{
    color: #aeb3e2;
    font-size: 200px;
    text-align: center;
    margin: 30px;
    margin-bottom: -60px;
}



h2{
    background-color: #10305d;
    padding: 24px;
    margin: 12px 50px 12px 50px;
    border-radius: 10vh;
    font-size: 70px;
}

a{
    
    color: #fff;
    text-decoration: none;
    display: flex;
}

h3{
    text-align: center;
    margin:10px;
    font-size: 38px;
}

.TPage{
    display: flex;
}

.textFonc{
    color:#aeb3e2;
}


.hau{
    margin-left: -50px; 
}






.sectionGauche{
    margin-left:-140px;
}

.sectionGauche2{
    padding-left:200px;
}

.sectionDroite{
    margin-right:-140px;
    justify-content: right;
}

.sectionDroite2{
    padding-right:200px;
}


.mont{
    position: absolute;
    z-index: 3;
    translate: -30px ;
    transform: translateY(-50px) ;
    z-index: initial;
    background: gold;
}


